/* ####################### Common ########################## */

:root{
  --green: #65c178;
  --text-primary: #585858;
  --text-secondary: rgb(141, 141, 141);
  --dash: #e2e2e2;
  --background-secondary: #f6f6f6;
  --background-dark: #363b3f;
  --hover-button-white: rgb(255, 255, 255, .3);
  --hover-button-green: #ebebeb;
  --hover-image: #65c177a2;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: 0;
}

.outlined-button{
  padding: 8px 12px;
  /* display: block; */
  background-color: rgb(0,0,0,0);
  border-radius: 2px;
  font-weight: 400;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: all .5s;
}

.outlined-button:hover{
  transform: scale(.9, .9);
}

.button-white{
  border: 2px solid white;
  color: white;
  /* transition: all .2s; */
}

.button-white:hover{
  background-color: var(--hover-button-white);
}

.button-green{
  border: 2px solid var(--green);
  color: var(--green);
}

.button-green:hover{
  background-color: var(--hover-button-green);
  border-color: var(--text-primary);
  color: var(--text-primary);
}

.bg-green{
  background-color: var(--green);
}


.dash{
  height: 5px;
  flex-grow: 1;
  margin: 0 12px;
  border-radius: 10px;
  background-color: var(--dash);
}

.text-primary{
  color: var(--text-primary);
}

.text-secondary{
  color: var(--text-secondary);
}

.text-green{
  color: var(--green);
}

.bg-secondary{
  background-color: var(--background-secondary);
}

.logo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  transition: all .5s;
  cursor: pointer;
}

.logo:hover{
  background-color: var(--text-primary);
  transform: scale(.9, .9);
}

/* ###################    navbar and carousel ################ */

header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  justify-content: space-between;
  padding: 12px 10%;
  z-index: 100;
}

#logo-wrapper{
  color: white;
  font-size: 32px;
  font-weight: 400;
}

/* header nav{
  display: flex;
} */

.nav-link{
  display: inline-block;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.nav-links .dropdown div{
  display: none;
}

.nav-links .dropdown:active div{
  color: green;
  display: block;
}

.carousel{
  width: 100vw;
  height: 100vh;
}

.image-1{
  width: 100%;
  height: 100%;
}


.carousel-img-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-img-wrapper .image-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}

.carousel-img-wrapper .image-title{
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.carousel-img-wrapper .image-description{
  text-align: center;
}

.self-center{
  align-self: center;
}


/* #######################   Services Section ####################### */


.service-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 48px 10%;
}

.service-card{
  width: 320px;
  height: fit-content;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  justify-content: center;
}

/* .service-card .logo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */

.service-card .logo i{
  color: white;
  font-size: 48px;
}

.service-card .title{
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0;
}

.service-card .description{
  color: var(--text-secondary);
  margin: 20px 0;
}
.service-card button{
  margin: 20px 0;
}


/* ######################## customers section ###################### */

.customers{
  padding-bottom: 120px;
}

.customers .title-wrapper{
  display: flex;
  margin: 28px 20%;
  justify-content: center;
  align-items: center;
}



.customers .title{
  font-weight: 500;
  font-size: 28px;
}

.customers .description{
  margin: 20px 8%;
  text-align: center;
  /* margin: 20px 0; */
}

.customers .image-wrapper{
  display: grid;
  margin: 40px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2px;
}

.customers .image{
  position: relative;
  height: 320px;
  overflow: hidden;
  transition: all .5s;
}

.customers .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

.customers .image:hover img{
  transform: rotate(10deg) scale(1.2, 1.2);
}


.green-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-image);
  opacity: 0;
  /* display: none; */
  transition: all .5s;
}

.customers .image:hover .green-hover{
  opacity: 1;
  /* display: block; */
}

.call-to-action{
  box-shadow: inset 0px 3px 7px 0px #00000014;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 400px; */
}

.call-to-action .logo{
  margin: 80px 0;
}

.call-to-action .title{
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 40px;
}

.call-to-action .title .action{
  cursor: pointer;
  transition: all .5s;
}

.call-to-action .title span.text-green:hover{
  color: var(--text-primary);
}

.call-to-action .description{
  margin: 0 12%;
  text-align: center;
}

.call-to-action button{
  margin: 40px 0;
}

.quote-wrapper{
  height: 28vh;
  overflow: hidden;
  position: relative;
}

.quote-wrapper .image{
  width: 100%;
  filter: saturate(0);
  object-fit: contain;
}

.quote-wrapper .quote{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: white;
  font-size: 20px;
}


/* ####################### Companion section ########################### */


.companion{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* height: 300px; */
  margin: 40px 0;
}

.companion .title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  margin: 28px 20%;
}

.companion .title{
  font-weight: 500;
  font-size: 28px;
}

.companion .description{
  margin: 40px 12%;
  text-align: center;
}

.companion .cards{
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.companion .card{
  width: 400px;
  margin: 20px 20px;
}

.companion .card .image{
  width: 100%;
  height: 280px;
  border-radius: 3px;
  overflow: hidden;
}

.companion .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companion .card button{
  background-color: rgb(0,0,0,0);
  border: none;
  width: 100%;
  margin-top: 28px;
  padding: 20px 0;
  background-color: var(--dash);
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  transition: all .5s;
}

.companion .card button:hover{
  background-color: var(--background-dark);
  color: var(--green);
}

footer{
  background-color: var(--background-dark);
  padding: 20px 14%;
  color: white;
}